[build]
  command = "pnpm build"
  publish = "dist"

[[redirects]]
  from = "/urbanstl/*"
  to = "https://urban-stl-analytics.jacobamaynard.workers.dev/:splat"
  status = 302

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200